.title {
    position: relative;
    width: 330px;
    height: 40px;
    left: 48px;
    top: 41px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 32px;
    display: flex;
    align-items: center;
    color: #222222;
}